{% extends 'App/base.html' %}
{% load static %}
{% block personResourse %}
    <link rel="stylesheet" href="{% static '/home/css/home.css' %}">
{% endblock %}
{% block  minecontent%}
    <div class="choose-bar">
        <a href="" class="article">全部作品</a>
        <div class="sort-type">
            <a href="">热门</a>
            <i>/</i>
            <a href="">最新</a>
            <i>/</i>
            <a href="">精选</a>
        </div>
    </div>
    <div class="video-content">
        <div class="box">
            <a href="/video/"><img src="http://cs.xinpianchang.com/uploadfile/article/2017/12/14/5a3168e8dd73f.jpeg@540w_324h_1e_1c.jpg" alt=""></a>
            <div class="video-con">
                <a href=""><p class="title">周杰伦的2000W个故事之“最长的电影”</p></a>
                <p class="video-view">
                    <span class="type">播放</span>
                    <span class="fw_600">5190</span>
                    <span class="type">喜欢</span>
                    <span class="fw_600">191</span>
                </p>
                <p class="user-info">
                    <span class="creater">王砺珉</span>
                    <span class="job">导演</span>
                </p>
            </div>
        </div>
         <div class="box">
            <a href=""><img src="http://cs.xinpianchang.com/uploadfile/article/2017/12/14/5a3168e8dd73f.jpeg@540w_324h_1e_1c.jpg" alt=""></a>
            <div class="video-con">
                <a href=""><p class="title">周杰伦的2000W个故事之“最长的电影”</p></a>
                <p class="video-view">
                    <span class="type">播放</span>
                    <span class="fw_600">5190</span>
                    <span class="type">喜欢</span>
                    <span class="fw_600">191</span>
                </p>
                <p class="user-info">
                    <span class="creater">王砺珉</span>
                    <span class="job">导演</span>
                </p>
            </div>
        </div>
     <div class="box">
             <a href=""><img src="http://cs.xinpianchang.com/uploadfile/article/2017/12/14/5a3168e8dd73f.jpeg@540w_324h_1e_1c.jpg" alt=""></a>
            <div class="video-con">
                <a href=""><p class="title">周杰伦的2000W个故事之“最长的电影”</p></a>
                <p class="video-view">
                    <span class="type">播放</span>
                    <span class="fw_600">5190</span>
                    <span class="type">喜欢</span>
                    <span class="fw_600">191</span>
                </p>
                <p class="user-info">
                    <span class="creater">王砺珉</span>
                    <span class="job">导演</span>
                </p>
            </div>
        </div>
     <div class="box">
             <a href=""><img src="http://cs.xinpianchang.com/uploadfile/article/2017/12/14/5a3168e8dd73f.jpeg@540w_324h_1e_1c.jpg" alt=""></a>
            <div class="video-con">
                <a href=""><p class="title">周杰伦的2000W个故事之“最长的电影”</p></a>
                <p class="video-view">
                    <span class="type">播放</span>
                    <span class="fw_600">5190</span>
                    <span class="type">喜欢</span>
                    <span class="fw_600">191</span>
                </p>
                <p class="user-info">
                    <span class="creater">王砺珉</span>
                    <span class="job">导演</span>
                </p>
            </div>
        </div>
     <div class="box">
            <a href=""><img src="http://cs.xinpianchang.com/uploadfile/article/2017/12/14/5a3168e8dd73f.jpeg@540w_324h_1e_1c.jpg" alt=""></a>
            <div class="video-con">
                <a href=""><p class="title">周杰伦的2000W个故事之“最长的电影”</p></a>
                <p class="video-view">
                    <span class="type">播放</span>
                    <span class="fw_600">5190</span>
                    <span class="type">喜欢</span>
                    <span class="fw_600">191</span>
                </p>
                <p class="user-info">
                    <span class="creater">王砺珉</span>
                    <span class="job">导演</span>
                </p>
            </div>
        </div> <div class="box">
            <a href=""><img src="http://cs.xinpianchang.com/uploadfile/article/2017/12/14/5a3168e8dd73f.jpeg@540w_324h_1e_1c.jpg" alt=""></a>
            <div class="video-con">
                <a href=""><p class="title">周杰伦的2000W个故事之“最长的电影”</p></a>
                <p class="video-view">
                    <span class="type">播放</span>
                    <span class="fw_600">5190</span>
                    <span class="type">喜欢</span>
                    <span class="fw_600">191</span>
                </p>
                <p class="user-info">
                    <span class="creater">王砺珉</span>
                    <span class="job">导演</span>
                </p>
            </div>
        </div> <div class="box">
            <a href=""><img src="http://cs.xinpianchang.com/uploadfile/article/2017/12/14/5a3168e8dd73f.jpeg@540w_324h_1e_1c.jpg" alt=""></a>
            <div class="video-con">
                <a href=""><p class="title">周杰伦的2000W个故事之“最长的电影”</p></a>
                <p class="video-view">
                    <span class="type">播放</span>
                    <span class="fw_600">5190</span>
                    <span class="type">喜欢</span>
                    <span class="fw_600">191</span>
                </p>
                <p class="user-info">
                    <span class="creater">王砺珉</span>
                    <span class="job">导演</span>
                </p>
            </div>
        </div>



    </div>
{% endblock %}